@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Client Management System</h1>
    <p class="lead">
        Manage your clients and contacts efficiently with ASP.NET Core MVC.
    </p>
    <p>
        Learn more about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">
        building web apps with ASP.NET Core
    </a>.
</p>
</div>
